* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#jumbotron {
    height: 556px;
    background-image: url('./travel-blog-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

footer {
    background-color: #262b2a;
    color: whitesmoke;
}